@import "tailwindcss";

* {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

.styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}
.styled-scrollbar::-webkit-scrollbar {
  display: block;
  width: 6px;
}
.styled-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 9999px;
}
.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}
